@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: "teachers", sans-serif;
    font-style: normal;
    max-width: 1000px;
    padding: 20px;
    
}

:root {
    --primary-color: #424139;
    --secondary-color: #307cad ;
    --accent1-color: #f5a65b;
    --accent2-color: #fefefe;
    --heading-font: "protest riot", sans-serif;
    --paragraph-font: "teachers", sans-serif;
    --nav-background-color: #307cad;
    --nav-link-color: #f5a65b;
    --nav-hover-link-color: #fefefe;
    --nav-hover-background-color: #58564a;
}

header{
    margin: 1 rem;
    display: grid;
    grid-template-columns: 200px 800px;
    align-items: center;
    padding: 20px;
    
}

nav{
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    
}

h1, h2, h3, h4, h5, h6{
    font-family: "protest riot", sans-serif;
    color: rgba(42, 41, 39, 5);
}

.hero img{
    position: relative;
    display: block;
    width: 1000px;
    height: auto;  
}

h1{
    position: absolute;
    top: 300px;
    width: 1000px;
    text-align: center;
    color: var(--primary-color);
    background-color: #fefefe;
    opacity: 0.75;
    padding: 2rem
}

article{
    position: absolute;
    width: 800px;
    top: 600px;
    left: 150px;
    right: 100px;
    background-color: #fefefe;
    opacity: 0.75;
    padding: .75rem;
}

.hero article img{
    float: right;
    width: 125px;
    opacity: 5;
}

section p{
    width: 1000px;
}
section img:{
    display: flex;
    
}
nav a {
    text-decoration: none;
}
